h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
}
th {
  font-weight: normal;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
h1 {
  margin: 0;
  padding: 8px;
  padding-left: 0;
}
* {
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  background-color: #333;
}
.face-img {
  float: right;
}
.book-title {
  font-style: italic;
}
table {
  margin: 0 auto;
}
table, th, td {
  border: 1px solid black;
}
td {
  text-align: center;
}
td.empty, th.empty {
  border-width: 0;
}
.container {
  max-width: 1000px;
  font-family: roboto, sans-serif;
  margin: 80px auto;
  background: #eee;
  padding: 8px;
  border-radius: 4px;
}
#main-input {
  font-family: monospace;
  font-size: 20px;
  padding: 2rem;
}
#instructions {
  max-width: 300px;
  padding: 6px;
  font-size: 20px;
}
